<div class="container">
  <h2 class="mt-4 mb-3">Sign In</h2>
  <form (ngSubmit)="submit()" [formGroup]="signinform">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        required
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        required
        formControlName="password"
      />
    </div>
    <div class="mb-3">
      <div>
        <a routerLink="/signup">Sign Up</a>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
